*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.desk{
    background: #eeeeee;
    /*margin: 0 20px;*/
    padding: 20px;
    width: 750px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}
[class^='child']{
    background: red;
    width: 250px;
    display: inline-block;
}
.child_3{
    position: relative;
    left: 510px;
    top: -18px;
}
.overflow{
    position: relative;
    top: -20px;
}

.position{
    background: #eeeeee;
    padding: 0px;
    width: 750px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 40px;
}
[class^='box']{
    width: 20px;
    height: 20px;
    position: absolute;
}
.box_1{
    background: #bbbbbb;
}
.box_2{
    background: red;
    top: 0;
    right: 0;
}
.box_3{
    background: green;
    bottom: 0;
    left: 0;
}
.box_4{
    background: blue;
    bottom: 0;
    right: 0;
}
.absolute{
    position: relative;
    top: 20px;
}
.fixed{
    background: #eeeeee;
    padding: 20px;
    width: 100vw;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 0;
}